.buttonFilled {
  color: #ffffff !important;
  background-color: #f0554b;
  //border: 1px solid #f0554b !important;
  border-style: solid;
  border-color: #f0554b;
  border-width: 1px;
  height: 32px;
  border-radius: 20px !important;
}

.big-button {
  height: 40px !important;
}
