.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

// Flex-wrap utils.
.flex-wrap {
  flex-wrap: wrap;
}

// Mostly used with flex-row, when wrapping is desired.
.flex-col-xs {
  @media screen and (max-width: 599px) {
    flex-direction: column;
  }
}

// Switch from flex-row to flex-col on mobile.

// Justify content.
.justify-space-between {
  justify-content: space-between;
}

// Used very often with flex-row.
.justify-center {
  justify-content: center;
}

// Used to center something via flexbox.

// Align items. (Naming inspiration: https://tailwindcss.com/docs/align-items.)
.align-center {
  align-items: center;
}

// Used very often with flex-row.

// Gap.
.gap-4 {
  gap: 4px;
}

.gap-8 {
  gap: 8px;
}

.gap-10 {
  gap: 10px;
}

.gap-12 {
  gap: 12px;
}

.gap-16 {
  gap: 16px;
}

// Flex/grow/shrink properties https://developer.mozilla.org/en-US/docs/Web/CSS/flex.
.flex-1 {
  flex: 1
}

// Same as flex: 1 1 0 (grow, shrink, basis 0). Has similar effect to width: 100%;
.flex-grow {
  flex-grow: 1;
}

// Same as flex: 1 1 auto (grow, shrink, basis auto). For spacer, etc.
