/* You can add global styles to this file, and also import other style files */

@use './styles/_flex-layout.scss';
@use './styles/_buttons.scss';
@use './styles/_width-height.scss';
@use './styles/_inputs.scss';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cls-1 {
  fill: blue !important;
}
